@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

.container {
  width: 393px;
  height: 852px;
  font-family: "pretendard";
  background: #242427;
  color: #ffffff;
  overflow: hidden;
}

.header {
  margin-top: 116px;
  margin-left: 27px;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.44px;
}
.logo img {
  width: 341px;
  height: auto;
  display: flex;
  align-items: center;
  /* margin: 90px 28px; */
  margin-top: 86px;
  margin-bottom: 122px;
  margin-left: 28px;
}

.button {
  width: 345px;
  height: 52px;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 24px;
  border: transparent;
  /* margin-top: 170px; */
}

.email-btn {
  padding: 17px 18px;
  background: white;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}
.email-btn img {
  margin-right: 90px;
}

.hr-line {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: white;
  font-size: 12px;
  margin: 32px 0px;
}
.hr-line::before,
.hr-line::after {
  content: "";
  flex-grow: 1;
  background: var(--Gray-600, #515155);
  height: 1px;
  line-height: 0px;
  margin: 0px 16px;
}

.login-else {
  font-size: 12px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.24px;
}
a {
  color: white;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.24px;
}
