<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>명함 생성</h2>
    <form method="POST" action="{% url 'cards:create' %}" enctype="multipart/form-data">
        {% csrf_token %}

        사진<br>
        <input type="file" name = "image"><br><br>

        이름을 입력해 주세요<br>
        <input type="text" name="name"><br><br>
        
        소속을 입력해 주세요<br>
        <input type="text" name="position"><br><br>

        직업을 입력해 주세요<br>
        <input type="text" name="job"><br><br>

        키워드를 선택해 주세요<br>
        <select name="keyword">
            {% for keyword in keywords %}
                <option value="{{ keyword.id }}">{{ keyword.name }}</option>
            {% endfor %}
        </select><br><br>

        <input type = "submit" value = "작성하기">
    </form>
</body>
</html>