<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>선택된 롤링페이퍼</h2><br><br>

    {% if selected_article %}
        <p>내용 - {{ selected_article.content }}</p>
        <p>작성자 - {{ selected_article.writer }}</p>
        <p>날짜 - {{ selected_article.created_at }}</p>
    {% else %}
        <p>선택된 롤링페이퍼가 없습니다.</p>
    {% endif %}

    <a href="{% url 'cards:mycardFront' %}">앞면보기</a>

</body>
</html>