<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>롤링페이퍼 선택</h2><br><br>

    <form method="POST" action = "{% url 'cards:select_rolling_paper' card.id %}">
        {% csrf_token %}

        {% for article in articles %}
            <input type="radio" name="selected_article" value="{{ article.id }}" {% if card.selected_article and card.selected_article.id == article.id %}checked{% endif %}>
            <p>내용 - {{ article.content }}</p>
            <p>작성자 - {{ article.writer }}</p>
            <p>키워드 - {{ article.keyword }}</p>
            <p>날짜 - {{ article.created_at }}</p>

        {% empty %}
        아직 롤링페이퍼가 없습니다.

        {% endfor %}

        <input type="submit" value="선택완료">
    </form>
</body>
</html>