<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>명함 수정</h2>
    <form method="POST" action="{% url 'cards:update' card.id %}" enctype="multipart/form-data">
        {% csrf_token %}

        {% if card.image %}
        기존 사진 : <img width="320" height="240" src = "{{ card.image.url }}"><br><br>
        {% endif %}
        사진 변경 - <input type="file" name = "image"><br><br>

        이름을 입력해 주세요<br>
        <input type="text" value="{{ card.name }}" name="name"><br><br> 
        소속을 입력해 주세요<br>
        <input type="text" value="{{ card.position }}" name="position"><br><br> 
        직업을 입력해 주세요<br>
        <input type="text" value="{{ card.job }}" name="job"><br><br>
        키워드를 선택해 주세요<br>
        <select name="keyword">
            {% for keyword in keywords %}
                <option value="{{ keyword.id }}" {% if keyword.id == card.keyword.id %} selected {% endif %}>{{ keyword.name }}</option>
            {% endfor %}
        </select><br><br>
        
        <a href="{% url 'cards:mycardRolling' card.id %}">롤링페이퍼를 선택해 주세요</a><br><br>

        <input type = "submit" vaule = "수정하기">
    </form>
</body>
</html> -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>명함 수정하기</title>
    <link rel="stylesheet" href="{% static 'css/update.css' %}" />
  </head>
  <body>
    <div class="container">
      <header class="header">
        <a href="../html/mycardFront.html">
          <button class="back-btn">
            <img src="{% static 'img/backBtn.svg' %}" alt="뒤로가기 버튼" />
          </button>
        </a>
        <h1 class="title">명함 수정하기</h1>
        {% if card_count != 1 %}
        <a href="{% url 'cards:delete' card.id %}">
          <button class="delete-btn">
            <img
              src="{% static 'img/deleteBtn.svg' %}"
              class="deleteBtn"
              alt="삭제하기 버튼"
            />
          </button>
        </a>
        {% endif %}
      </header>
      <form method="POST" action="{% url 'cards:update' card.id %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="profile-photo">
          {% if card.image %}
            <img
              src="{{ card.image.url }}"
              alt="Profile Picture"
              id="userPhoto"
            />
          {% else %}
            <img
              src="{% static 'img/borderPhoto.svg' %}"
              alt="Profile Picture"
              id="userPhoto"
            />
            {% endif %}
            <button class="edit-button">
              <input
                type="file"
                id="fileInput"
                name="image"
                style="opacity: 0; position: absolute; width: 100%; height: 100%; top: 0; left: 0; cursor: pointer;"
              />
              <img
                src="{% static 'img/editBtn.svg' %}"
                alt="edit button"
                id="editBtn"
              />
            </button>
          </div>
            <div class="form-group">
                <label for="name">이름을 입력해 주세요</label>
                <input type="text" id="name" placeholder="이름" value="{{ card.name }}" name="name"/>
                <div class="nameError">입력하신 내용을 다시 확인해 주세요</div>
            </div>
            <div class="form-group">
            <label for="belong">소속을 입력해 주세요</label>
            <input type="text" id="belong" placeholder="소속" value="{{ card.position }}" name="position"/>
            <div class="belongError">입력하신 내용을 다시 확인해 주세요</div>
            </div>
            <div class="form-group">
            <label for="job">직업을 입력해 주세요</label>
            <input type="text" id="job" placeholder="직업" value="{{ card.job }}" name="job"/>
            <div class="jobError">입력하신 내용을 다시 확인해 주세요</div>
            </div>
            <div class="form-group">
            <!-- <label for="hashtag">키워드를 선택해 주세요</label>
            <div class="custom-select" name="keyword">
                <div class="select-trigger">
                <span>키워드</span>
                <div class="hashtag-btn">
                    <img src="{% static 'img/upArrow.svg' %}" alt="" id="hashtagArrow" />
                </div>
                </div>
                <div class="custom-options">
                {% for keyword in keywords %}
                <span class="custom-option" data-value="{{ keyword.id }}" {% if keyword.id == card.keyword.id %} selected {% endif %}>{{ keyword.name }}</span>
                {% endfor %}
                </div>
            </div> -->
            키워드를 선택해 주세요<br>
            <select name="keyword">
                {% for keyword in keywords %}
                    <option value="{{ keyword.id }}" {% if keyword.id == card.keyword.id %} selected {% endif %}>{{ keyword.name }}</option>
                {% endfor %}
            </select>
            </div>
            <div class="form-group">
            <label for="rollingpaper">롤링페이퍼를 선택해 주세요</label>
            <div class="rolling-paper" id="rollingPaper">
              <a href="{% url 'cards:mycardRolling' card.id %}">
                <button class="rp-btn">
                    롤링페이퍼
                    <img src="{% static 'img/nextArrow.svg' %}" alt="" class="rpArrow" />
                </button>
              </a>
            </div>
            </div>
            <button type="submit" class="submit-button">수정하기</button>
      </form>
    </div>
    <script src="{% static 'js/update.js' %}"></script>
  </body>
</html>