{% extends 'base.html' %}

{% block content %}

<div>
    <div style = "text-align : center; max-width : 500px; margin : 4rem auto;">

        {% if target_user.profile %}  <!--타켓유저의 닉네임이 존재하면 닉네임을 보여줄것. id노출되면 보안문제 생기므로 -->
        <img src ="{{target_user.profile.image.url}}" alt=""
             style="height:12rem; width 12rem; border-radius:20rem; margin-bottom:2rem; object-fit:cover;"> <!--버튼이랑 icon 디자인적용-->

        <h2 style="font-family : 'NanumSquareB'">
            {{ target_user.profile.nickname }}
                {% if target_user == urser %}
                <a class="material-icons"
                   style="box-shadow:0 0 4px #ccc; border-raidus:10rem; padding:.4rem;"
                   href="{% url 'profileapp:update' pk=target_user.profile.pk %}">   <!-- 원래 사진업로드하던링크로 돌아감 -->
                 edit
                </a>
                {% endif %}
        </h2>
         <h5 style="margin-bottom :3rem;">
            {{target_user.profile.message}}
        </h5>
        {% else %}  #존재하지 않으면
            {% if target_user == user %}
            <a href= "{% url 'profileapp:create' %}">     #Profile 만드는 페이지로 넘어가게 하기
                <h2 style="font-family:'NanumSquareB'">
                    Create Profile
                </h2>
            </a>
            {% else %}
            <h2>
                닉네임 미설정
            </h2>
            {% endif %}
        {% endif %}

 <!--본인이 본인페이지 들어갔을때 수정할 수 있는 페이지 링크 추가 -->
        {% if target_user == user %}
            <a class="material-icons"
                   style="box-shadow:0 0 4px #ccc; border-raidus:10rem; padding:.4rem;"
                href="{% url 'accountapp:update' pk=user.pk %}">
                settings
            </a>

        <!--본인이 본인페이지 들어갔을때 탈퇴할 수 있는 페이지 추가 -->
            <a class="material-icons"
                   style="box-shadow:0 0 4px #ccc; border-raidus:10rem; padding:.4rem;"
                href = "{% url 'accountapp:delete' pk=user.pk %}">
                cancel
            </a>
        {% endif %}
    </div>

    <div>

        {% include 'snippets/list_fragment.html' with article_list=object_list %}     <!--여태까지 쓴글이 저장되어 보여짐-->

    </div>
</div>

{% endblock %}    #잊지말고 마지막에 꼭 써야함. 아니면 서버연결 오류남.
