{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:url" content="http://127.0.0.1:8000/articles/RollFront" />
    <meta property="og:title" content="{user}의 롤링페이퍼" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/shareImg.png' %}" />
    <meta property="og:description" content="친구로부터 초대장이 도착했어요. 지금 롤링페이퍼를 남겨주세요!" />
    <title>{user}의 롤링페이퍼</title>
    <link rel="stylesheet" href="{% static 'css/admin.css' %}" />
</head>
<body>
    <div class="container">
        <div class="title">
            {user}님의 롤링페이퍼
            <a class="btn-kakao" href="#" onclick="kakaoShare()">
                <img class="btn-kakao" src="{% static 'img/share.png' %}" alt="kakaotalk">
            </a>
            <div class="toast-share">카카오톡으로 요청을 보냈어요</div>
        </div>
        <div class="btn-namecard-wp">
            명함
            <img src="{% static 'img/arrow-namecard.png' %}" alt="go to namecard btn" class="btn-namecard" />
        </div>

        <div class="rp-selector">
            <div class="rp-selector-recv" onclick="showRecv()">받은 롤링페이퍼</div>
            <div class="rp-selector-send" onclick="showSend()">작성한 롤링페이퍼</div>
        </div>
        <div class="paperlist">
            <div class="rp-recv-list"></div>
            <div class="rp-send-list"></div>
        </div>
        <div class="modal">
            <div class="blur" style="z-index: 90">
                <div class="detail" style="z-index: 100">
                    <div class="detail-top">
                        <div class="backBtn-wp">
                            <img src="{% static 'img/backBtn.png' %}" alt="back button" class="backBtn" />
                        </div>
                        <div class="detail-kw-wp"></div>
                        <div class="detail-title"></div>
                        <div class="detail-content"></div>
                        <div class="detail-time"></div>
                        <div class="profile"></div>
                    </div>
                    <div class="detail-bot">
                        <hr class="detail-line" />
                        <div class="profile">
                            <img src="{% static 'img/prof-temp.png' %}" class="prof-img" alt="prof-img" />
                            <div class="prof-right">
                                <div class="prof-name"></div>
                                <div class="prof-relationship"></div>
                                <div class="affiliation"></div>
                                <div class="occupation"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/admin.js' %}"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script type="text/javascript">
        Kakao.init("7b6f288c02d16c4d6ed16b656e5ed6e7");

        function kakaoShare() {
            Kakao.Share.createScrapButton({
                container: ".btn-kakao",
                requestUrl: "http://127.0.0.1:8000/articles/RollFront",
                templateId: 109650,
            });
        }
    </script>
</body>
</html>


