{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user}}의 롤링페이퍼</title>
    <link rel="stylesheet" href="{% static '/css/admin.css'}" />
</head>
<body>
    <div class="container">
    <h2>롤링페이퍼 생성<h2>
    <form method="POST" action="{% url 'projectapp:create' %}" enctype="multipart/form-data">
        {% csrf_token %}

        이름을 입력해 주세요<br>
        <input type="text" name="name"><br><br>

        제목을 입력해 주세요<br>
        <input type="text" name="title"><br><br>

        키워드 입력해 주세요<br>
        <input type="char" name="keyword"><br><br>
        <input type="char" name="keyword2"><br><br>
        <input type="char" name="keyword3"><br><br>

        관계 입력해 주세요<br>
        <select name="position">
        <option value="family">가족</option>
        <option value="friend">지인</option>
        <option value="superior">직장상사</option>
        <option value="etc">기타</option>
        </select><br><br>

        내용을 입력해 주세요<br>
        <input type="text" name="content"><br><br>

        <input type = "submit" value = "작성하기">
    </form>
</div>
</body>
</html>