@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
.container {
  width: 393px;
  height: 852px;
  font-family: "pretendard";
  background: #242427;
  color: #ffffff;
  margin: 24px;
  overflow: hidden;
}

.header {
  margin-top: 64px;
  display: flex;
  align-items: center;
}

.backBtn {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  margin-top: 5px;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  margin-left: -30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.36px;
}

.carousel {
  position: relative;
  margin-top: 117px;
  width: 80%;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.shareBtn {
  position: relative;
  right: 25px;
  top: 3px;
}
.cards-container {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.card {
  min-width: 90%;
  margin-top: 117px;
  margin-left: 20px;
  margin-right: 13px;
  height: 400px;
  padding: 32px;
  border-radius: 8px;
  background: no-repeat center center;
  background-size: cover;
  box-sizing: border-box;
  text-align: left;
  color: #515155;
  position: relative;
}

.info {
  display: flex;
  justify-content: space-between;
}

.userName {
  color: var(--Gray-900, #2f2f32);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.44px;
}

.birthDate,
.belong,
.job,
.hashtag {
  margin-top: 8px;
  color: var(--Gray-600, #515155);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.28px;
}

.hashtag {
  margin-top: 40px;
  text-align: right;
  font-family: Pretendard;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.44px;
}

.avatar {
  width: 220px;
  height: 220px;
  position: absolute;
  bottom: 20px;
  left: 60%;
  top: 44%;
  transform: translateX(-50%);
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 8px;
  width: 8px;
  margin: 0 5px;
  background-color: #7b7b7e;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.active {
  background-color: #fff;
}
