  <div class = "pragmatic_header">
        <div>
            <h1 class="pragmatic_logo"> pragmatic</h1>
        </div>
        <div>
            <span> nav1 </span>
            <span> nav2 </span>
            <span> nav3 </span>
            {% if not user.is_authenticated %}  # user가 로그인이 되어있지 않다면 로그인 보여주고 아니면 로그아웃 보여줌.
            <a href="{% url 'accountapp:login' %}?next={{ request.path }}"> // next 설정함으로서 로그인하고나서 원래있던 라우터로 돌아옴
                <span> login</span>
            </a>
            {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span> MyPage </span>
            </a>
            <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">
                <span> logout </span>
            </a>
            {% endif %}
        </div>
    </div>