@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

.container {
  width: 393px;
  height: 852px;
  font-family: "pretendard";
  background: #242427;
  color: #ffffff;
  overflow: hidden;
}

.header {
  margin: 88px 24px 0px 24px;
  display: flex;
  align-items: center;
}

.back-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.title {
  flex-grow: 1;
  text-align: center;
  font-size: 18px;
  margin-left: -30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.36px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 28px;
}

#noError {
  margin-bottom: 28px;
}

#yesError {
  margin-bottom: 17.5px;
}

.form-group label {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.32px;
}

.form-group input {
  width: 345px;
  margin-top: 8px;
  padding: 17px 18px;
  border: none;
  border-radius: 8px;
  background-color: #353538;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  box-sizing: border-box;
}

.form-group input::placeholder {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
}

.form-group input:focus {
  border-radius: 8px;
  border: 0.5px solid #b2b2b4;
  background: #353538;
  transition: ease-in-out 300ms;
  outline: none;
}
.form-group input:focus::placeholder {
  color: transparent;
}

.submit-btn {
  width: 345px;
  height: 52px;
  margin-top: 255px;
  padding: 17px 18px;
  border: none;
  border-radius: 8px;
  background-color: #8c8c8e;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.28px;
}

.emailError,
.passwordError {
  visibility: hidden;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.16px;
  margin-top: 8px;
  color: #ff4a4a;
}

.emailError.show,
.passwordError.show {
  visibility: visible;
}
